@use "sass:color"; /* sass:color ビルトインモジュールの読み込み */

//このscssファイルには変数やmixinを記述します
//カラーに＃000000は使わない→自然に存在しないカラーだから、UIの観点でNG
$main_col: #291f1f; //テキスト・ボーダーカラー
//$base_col: #e1e1de; // #b3b3ac
$bg_col: #f4f4f3;
$accent_col2: #b1dbc7;
$accent_col: #3eeae0;
$wh: #fff;
$bk: #000;
$attention: #f00;
$main_txt2: #795b5f;
$main_txt: #402a28;
$max_xl: 1280px;
$max_l: 1000px; //1280px;
$min_s: 350px;
$txt_main: 1rem;
$txt_footer: 1.25rem;
$txt_h2: 2rem;
$url_col: rgba(#291f1f, 0.75);
$hover_before: rgba($main_col, 0.4);

//mixin
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

$breakpoint: (
    sss: "(min-width: 375px)",
    ss: "(min-width: 480px)",
    s: "(min-width: 640px)",
    m: "(min-width: 740px)",
    ml: "(min-width: 860px)",
    m-ml: "(min-width:940px)",
    l: "(min-width: 1080px)",
    xl: "(min-width: 1280px)",
    xxl: "(min-width: 1400px)",
    xxxl: "(min-width: 1680px)",
    trigger_xl: "(max-width: 1279px)",
    trigger_l: "(max-width: 959px)",
    trigger: "(max-width: 859px)",
    trigger_s: "(max-width: 639px)",
    trigger_ss: "(max-width: 479px)"
);

@mixin mq($bp) {
    @media #{map-get($breakpoint, $bp)} {
        @content;
    }
}
