//slickのscssはscss専用のファイルを作ってディレクトリ構造を意識すること
//1.「_」を手前に書くことを忘れない
//2.linkを書くときにディレクトリの階層を意識してかく
//3.scss内CSSを書き換えられるから楽しいよ！
@charset "UTF-8";
@use "../00_global" as v; //書かないと_var.scssの変数が使えない
// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.5 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    } @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    } @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
}

/* Icons */
@if $slick-font-family == "slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("slick.eot");
        src:
            slick-font-url("slick.eot?#iefix") format("embedded-opentype"),
            slick-font-url("slick.woff") format("woff"),
            slick-font-url("slick.ttf") format("truetype"),
            slick-font-url("slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    bottom: -3rem;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    z-index: 1000;
    &:hover,
    &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        font-family: $slick-font-family;
        font-size: 25px;
        line-height: 1;
        color: v.$main_col;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slick-prev {
    left: 1rem;

    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
    &:before {
        display: inline-block;
        content: "";
        width: 0.75rem;
        height: 0.75rem;
        border-top: 1px v.$main_col solid;
        border-left: 1px v.$main_col solid;
        transform: rotate(-45deg);
        //content:$slick-prev-character;
        /*[dir="rtl"] & {
            content: $slick-next-character;
        }*/
    }
}

.slick-next {
    right: 0; //1rem;
    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }
    &:before {
        display: inline-block;
        content: "";
        width: 0.75rem;
        height: 0.75rem;
        border-top: 1px v.$main_col solid;
        border-right: 1px v.$main_col solid;
        transform: rotate(45deg);
        //content: $slick-next-character;
        /*[dir="rtl"] & {
            content: $slick-prev-character;
        }*/
    }
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: 1.5rem;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            width: 2rem;
            height: 2rem;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover,
            &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                content: "";
                width: 0.35rem;
                height: 0.35rem;
                background: v.$main_col;
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(-50%, -50%);
                border-radius: 9999px;
                opacity: $slick-opacity-not-active;
                /*position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;*/
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}
