//こちらにはアニメーションの@keyframesなどを記述していきます
//キーフレームとクラスを付与しておけば違うサイト制作場合も使える
//jsのスクロールアクションとアニメーションをセットでコピペすればいい！
//onclassの付与＋data-animateの付与を忘れない！
@keyframes fade {
    //名前自由
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-2 {
    //名前自由
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(-25px);
    }
    100% {
        opacity: 0;
        transform: translateY(0px);
    }
}

@keyframes fade_infinite {
    //名前自由
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes splash {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        pointer-events: none; //ポインターが反応しなくなるようにする
    }
}

@keyframes slide_down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes scroll {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scroll_up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes scroll_rotate {
    0% {
        opacity: 0;
    }
    100% {
        transform: rotate(35deg);
        transform-origin: top right;
    }
}

@keyframes slide_left {
    0% {
        opacity: 0;
        transform: translateX(-100dvw);
    }
    100% {
        opacity: 1;
        transform: translateX(0dvw);
    }
}

@keyframes slide_right {
    0% {
        opacity: 0;
        transform: translateX(110%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slide_under {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes shuwa {
    //シュワっと消える
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes prev-next {
    //やじるしの動き
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes prev {
    //やじるしの動き
    0% {
        left: 1rem;
    }
    50% {
        left: 0.75rem;
    }
    100% {
        left: 1rem;
    }
}

@keyframes next {
    //やじるしの動き
    0% {
        right: 1rem;
    }
    50% {
        right: 0.75rem;
    }
    100% {
        right: 1rem;
    }
}

@keyframes glb_nav {
    0% {
        right: -100dvw;
        opacity: 0;

        //transform: scale(0, 1);
    }
    100% {
        right: 0dvw;
        opacity: 1;
        //transform: scale(1, 1);
    }
}

@keyframes no {
    //伸びる
    0% {
        width: 100%;
    }
    50% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes scroll_top {
    //topbutton
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    80% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        //transform: translateY(50px);
    }
}

@keyframes slider {
    //横方向に画像を流す
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-25%, 0);
    }
}
@keyframes under_line {
    //ホバー時にアンダーラインが出てくる
    0% {
        text-decoration: none;
    }
    100% {
        text-decoration: 2px underline;
    }
}
@keyframes logo-anime {
    0% {
        transform: matrix(0, 1, 1, 0, 0, 0);
    }
    25% {
        transform: matrix(1, 0, 0, 1, 0, 0);
        //opacity: 0.25;
    }
    50% {
        transform: matrix(0, 1, 1, 0, 0, 0);
    }
    75% {
        transform: matrix(-1, 0, 0, -1, 0, 0);
        //opacity: 0.25;
    }
    100% {
        transform: matrix(0, 1, 1, 0, 0, 0);
    }
}

//スクロールCSS
/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove {
    0% {
        bottom: 60px; //45px;
    }
    100% {
        bottom: -60px; //-5px;
    }
}

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    80% {
        opacity: 0.75;
    }
    100% {
        opacity: 0;
    }
}
//スクロールCSS↑

.logo-animation {
    animation: logo-anime 30s 0s linear infinite;
}
[data-animate="logo-animation"] {
    opacity: 1;
}

.fx01 {
    animation: scroll_up 1s both;
}
[data-animate="fx01"] {
    //
    //opacity: 0;
    //transform: translateY(50px);
}

.fx02 {
    animation: slide_left 0.85s both;
}
[data-animate="fx02"] {
    //opacity: 0;
    //transform: translateX(-100%);
}

.fx03 {
    animation: slide_under 0.5s forwards;
}
[data-animate="fx03"] {
    opacity: 0;
    //transform: translateY(50%);
}

.fx04 {
    animation: slide_under 1.5s forwards;
}
[data-animate="fx04"] {
    opacity: 0;
}

.fx05 {
    animation: shuwa 2s ease-in forwards;
}
[data-animate="fx05"] {
}

.fx06 {
    animation: slide_under 1.5s ease-in forwards;
}
[data-animate="fx06"] {
}

.fx07 {
    animation: no 0.75s ease-in forwards;
}
[data-animate="fx07"] {
    //
    //opacity: 1;
}

.fx08 {
    animation: fade 1.5s ease-in both;
}
[data-animate="fx08"] {
    opacity: 0;
}

.fx09 {
    animation: fade 0.5s ease-in forwards;
}
[data-animate="fx09"] {
    opacity: 0;
}

.fx10 {
    animation: fade 1.5s ease infinite;
}
[data-animate="fx10"] {
    opacity: 1;
}

.fx11 {
    animation: slide_left -2s 3s ease-in-out both;
}
[data-animate="fx11"] {
    opacity: 0;
}

//ふわっとロード後にフェードイン
.load-fade {
    opacity: 0;
    transition: all 1.75s /*処理にかかる時間*/;
}
//ふわっとロード後にスクロール
.load-up {
    opacity: 0;
    transform: translateY(100px) /*スクロールアップする距離*/;
    transition: all 2s /*処理にかかる時間*/;
}
.load-up.done,
.load-fade.done {
    opacity: 1;
    transform: translate(0, 0);
}
//↑ふわっとロード後フェードイン スクロールする

//ふわっとスクロール後フェードインする
.scroll-fade {
    opacity: 0;
    transition: all 2s /*処理にかかる時間*/;
}
//ふわっとスクロール後スクロールアップする
.scroll-up {
    opacity: 0;
    transform: translateY(100px) /*スクロールアップする距離*/;
    transition: all 2s /*処理にかかる時間*/;
}
.scroll-up.done,
.scroll-fade.done {
    opacity: 1;
    transform: translate(0, 0);
}
//↑ふわっとスクロールフェードイン スクロールする
