@use "../00_global" as v;
//各種コンポーネントはこちらに記述
//他のページにも使用していて同じモジュールの場合はここに書いておくこと！
// * {
//     border: 1px solid #000;
// }
// .body-position {
//     position: relative;
// }
.c-inner {
    max-width: v.$max_l;
    margin: 0 auto;
    @include v.mq(xl) {
        max-width: v.$max_l;
        margin: 0 auto;
    }
}
.c-loading {
    animation: fade 1.25s ease-in;
}
//手書きアニメーション↓うまくいかなかった//
/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #fafafa; //#333;
    text-align: center;
    color: #fff;
}

/* Loading画像中央配置　*/
#splash_logo {
    z-index: 10000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo svg {
    width: 300px;
}

/*========= SVG操作手書き風にするためのCSS ===============*/

#mask .st0 {
    fill: none;
    stroke: #2a1d1e;
    stroke-width: 31.18px; /*線の太さを指定する*/
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 3000; /* 線の間隔を指定する */
    stroke-dashoffset: 1500; /* 線の位置を指定する */
}
//手書きアニメーション↑うまくいかなかった//

.c-splash {
    //スプラッシュ
    background: radial-gradient(
        ellipse at center,
        rgba(255, 255, 255, 1) 0%,
        rgba(244, 244, 243, 1) 50%,
        rgba(209, 209, 205, 1) 100%
    );
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20000;
    display: none; //splashは最初からnoneに設定しておく
    animation: splash 5s ease-out both;

    .c-splash_title {
        /*.splash-txt {
            color: v.$main_col;
            font-size: 2rem;
            text-align: center;
            padding-top: 1rem;
        }
        .splash-photo {
            width: 100%;
            height: 100dvh;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }*/
        width: 100dvw;
        height: 100dvh;
        position: relative;
        .c-splash_logo {
            display: block;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 60dvw;
            height: auto;
            animation: fade_infinite 3s 0.5s ease-in-out both;
            @include v.mq(m) {
                width: 50dvw;
                height: auto;
            }
        }
    }
}

.c-shoulder {
    //サブタイトル
    width: 50dvw;
    height: auto;
    @include v.mq(ml) {
        width: 28dvw;
    }
    &_lower {
        width: auto;
        height: 100%;
        .c-hd_logo {
            width: 10rem;
            height: auto;
        }
    }
    p {
        font-size: 3rem;
        text-decoration: none;

        @include v.mq(m) {
            font-size: 4rem;
        }
        span {
            font-size: 1.25rem;
            letter-spacing: 3px;
            @include v.mq(m) {
                font-size: 1.875rem;
            }
        }
    }
    &_lower {
        @extend .c-shoulder;
        font-size: 2rem;
        @include v.mq(m) {
            font-size: 1.875rem;
        }

        a {
            text-decoration: none;
            span {
                //font-size: 1.25rem;
                letter-spacing: 3px;
            }
        }
    }
}
.c-hd_nav {
    //グローバルナビゲーション
    display: none;
    @include v.mq(ml) {
        margin-left: 2rem;
        display: none;
        // display: flex;
        // justify-content: flex-start;
        // align-items: center;
        color: v.$main_col;
        gap: 1rem;
    }
    ul,
    li,
    a {
        display: flex;
        //flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        /*&::before {
            content: "";
            display: block;
            width: 2rem;
            height: 2rem;
            //transition: 0.6s cubic-bezier(0.405, -0.48, 0.46, 1.535);
            @include v.mq(m) {
                width: 1.5rem;
                height: 1.5rem;
            }
        }*/
        &:hover {
            color: v.$accent_col;
            transition: 0.3s 0.1s ease-out;
        }
        &:nth-child(1) {
            a {
                background: url(../img/icon/mail.svg) no-repeat center/contain;
            }
        }
        &:nth-child(2) {
            a {
                background: url(../img/icon/instagram.svg) no-repeat center/contain;
            }
        }
    }
    &_lower {
        @include v.mq(ml) {
            width: 6rem;
            height: 100px;
            display: flex;
        }
    }
}

.c-trigger {
    //ハンバーガーボタン
    width: 2.5rem;
    height: 2.5rem;
    position: fixed !important;
    top: 1.25rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.8s linear;
    z-index: 10000;
    span {
        width: 100%;
        height: 100%;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // text-align: center;
        background: url(../img/nav-main.svg) no-repeat center/contain;
        //transition: 0.4s ease-in;
        &:hover {
            background: url(../img/nav-accent.svg) no-repeat center/contain;
            //transition: 0.3s ease-out;
        }
    }
    @include v.mq(m) {
        display: none;
    }
    /*span,
    &::before,
    &::after {
        content: "";
        display: block;
        width: 2rem;
        height: 0;
        border-bottom: 1px solid v.$wh;
        //transition: 0.3s ease-out;
    }
    &.open {
        gap: 0;
        span {
            transform: scale(0);
        }
        &::before {
            transform: translateY(1px) rotate(45deg);
        }
        &::after {
            transform: translateY(-1px) rotate(-45deg);
        }
    }*/
}
.c-trigger_lower {
    //ハンバーガーボタン
    width: 2.5rem;
    height: 2.5rem;
    position: fixed !important;
    top: 1.25rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.8s linear;
    z-index: 10000;
    span {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: url(../img/nav-main.svg) no-repeat center/contain;
        transition: 0.4s ease-in;
        &:hover {
            background: url(../img/nav-accent.svg) no-repeat center/contain;
            transition: 0.3s ease-out;
        }
    }
    @include v.mq(ml) {
        display: none;
    }
    /*span,
    &::before,
    &::after {
        content: "";
        display: block;
        width: 2rem;
        height: 0;
        border-bottom: 1px solid v.$wh;
        //transition: 0.3s ease-out;
    }
    &.open {
        gap: 0;
        span {
            transform: scale(0);
        }
        &::before {
            transform: translateY(1px) rotate(45deg);
        }
        &::after {
            transform: translateY(-1px) rotate(-45deg);
        }
    }*/
}
.c-cover {
    //hoverの背景カラー
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9996;
    &.open {
        pointer-events: all;
        background: rgba(v.$main_col, 0.75);
        //transition: all 0.3s ease 0s;
    }
}
.c-main_lower {
    margin: 5dvw;
    @include v.mq(m) {
        margin: 0;
    }
}
.c-catchcopy {
    //キャッチコピー
    color: v.$wh;
    font-size: clamp(1.5rem, 4.16vw, 2.5rem);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(v.$bk, 0.7);
    font-feature-settings: "palt" 1;
    letter-spacing: 0.05em;
    word-break: keep-all;

    //animation: fade 2s 0.5s both;
}
.c-scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(v.$wh, 0.5);
    font-size: 0.85rem;
    font-weight: 200;
    text-decoration: none;
    display: block;
    height: 3rem;
    animation: fade_infinite 3s 1.5s both infinite;

    &::before,
    &::after {
        content: "";
        display: block;
        width: 0.75rem;
        height: 0.75rem;
        border-right: 1px solid rgba(v.$wh, 0.5);
        border-bottom: 1px solid rgba(v.$wh, 0.5);
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        //animation: scroll 1.2s 1s infinite both;
    }
    &::after {
        bottom: 0.6rem;
    }
}

.c-designtheme {
    display: flex;
    flex-direction: column;
    align-items: center;
    > h2 {
        width: 8rem;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        color: v.$main_col;
        position: relative;
        &::after {
            content: "わたしの果たしたいこと";
            display: inline-block;
            width: 300px;
            font-size: 16px;
            color: v.$hover_before;
            font-weight: 200;
            position: relative;
            top: -0.85rem;
            right: 5rem;
        }
    }
    .message-logo {
        width: 90%;
        margin: 0 3rem;
        //padding: 0.35rem 1rem;
        background: #fff;
        &-top {
            @extend .message-logo;
            //padding: 1.5rem 1rem;
            background: transparent;
        }
        @include v.mq(ml) {
            margin: 0 10rem;
        }
        .message_sp {
            @media (min-width: 540px) {
                display: none;
            }
        }
        .message_pc {
            @media (max-width: 539px) {
                display: none;
            }
        }
    }
    .message-txt {
        p {
            span {
                font-weight: 300;
                font-size: 16px;
            }
            text-align: center;

            font-size: 14px;
            line-height: 28px; /* 225% */
            letter-spacing: 2.4px;
            //margin: 2.5rem 0 0 0;
            @include v.mq(m) {
                font-size: 1rem;
                line-height: 36px; /* 225% */
            }
            strong {
                display: inline-block;
                background: rgba(v.$accent_col, 0.15);
                padding: 0 0.25rem;
                //border-bottom: solid 2px rgba(v.$main_col, 0.75);
            }
        }
    }
    .message-caption {
        span {
            font-weight: 300;
            font-size: 16px;
        }
        text-align: center;
        font-size: 14px;
        line-height: 28px; /* 225% */
        letter-spacing: 1.2px;
        //margin: 2.5rem 0 0 0;
        @include v.mq(m) {
            font-size: 1rem;
            line-height: 36px; /* 225% */
        }
        @include v.mq(m) {
            font-size: 1rem;
            line-height: 36px; /* 225% */
        }
    }
}

.c-about {
    position: relative;
    z-index: 0;
    // &-profile {
    //     @extend .c-about;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    // }
    .bg-illust {
        width: 10rem;
        height: auto;
        position: absolute;
        top: 1rem;
        right: 1rem;
        opacity: 0.1;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .c-about-profile-h2 {
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        color: v.$main_col;
        //position: relative;
        // &::after {
        //     content: "わたしについて";
        //     display: inline-block;
        //     width: 300px;
        //     font-size: 16px;
        //     color: v.$hover_before;
        //     font-weight: 200;
        //     position: relative;
        //     top: -0.85rem;
        //     right: 5rem;
        // }
    }
    .l-about_container {
        margin: 1.5rem 2rem 0rem 2rem !important;
        @include v.mq(m) {
            margin: 3rem 2rem 0rem 2rem !important;
        }
        .l-about_inner_container {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include v.mq(ml) {
                height: auto;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 2rem;
            }
            // &-profile {
            //     @extend .l-about_inner_container;
            //     @include v.mq(ml) {
            //         width: 100%;
            //         height: auto;
            //         flex-direction: column;
            //         align-items: center;
            //         justify-content: center;
            //     }
            .l-about-photo_container {
                width: 40dvw;
                height: auto;
                margin: 0 auto;
                img {
                    aspect-ratio: 1 / 1;
                    width: 100%;
                }
                @include v.mq(m) {
                    width: 32dvw;
                }
                @include v.mq(ml) {
                    width: 30dvw;
                }
                @include v.mq(xl) {
                    width: 24dvw;
                }
            }
            .l-about-contents_container {
                //width: 60dvw;
                @include v.mq(m) {
                    //width: 76dvw;
                }
                .l-about-contents_container_name {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    @include v.mq(ml) {
                        width: 300px;
                        align-items: flex-start;
                        padding-left: 1rem;
                    }
                    .about_name {
                        //padding: 1rem 0 0 1rem;
                        display: inline-block;
                        //text-align: left;
                        //font-size: 0.75rem;
                        width: 40dvw;
                        height: auto;
                        @include v.mq(m) {
                            width: 16rem;
                        }
                        span {
                            font-family: "Sawarabi Mincho", serif;
                            font-size: 1.25rem;
                            //padding-bottom: 1rem;
                            display: inline-block;
                            //letter-spacing: 0.15rem;
                            //padding-left: 4rem;
                            .name_typo {
                                transform: rotate(4deg);
                                margin-top: 0.5rem;
                            }
                        }
                    }
                    .about_name_alphabet {
                        font-size: 1rem;
                        color: rgba(v.$main_col, 0.6);
                        @include v.mq(m) {
                            font-size: 1.25rem;
                            //padding-left: 1rem;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }

        .l-about-contents_container_txt {
            font-size: 14px;
            text-align: justify;
            line-height: 24px; /* 171.429% */
            letter-spacing: 0.7px;
            margin: 2rem 0dvw 0 0dvw;
            @include v.mq(ml) {
                padding: 0 0 1rem 2rem;
            }
            .about_txt {
                text-align: left;
                font-size: 14px;
                text-align: justify;
            }
            .about_txt_career {
                display: flex;
                flex-direction: column;
                @include v.mq(ml) {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-start;
                    position: relative;
                    padding: 2rem 0;
                }
                p {
                    display: inline-block;
                    width: 100%;
                    height: auto;
                    margin: 2rem 0 1rem 0;
                    position: relative;
                    left: 0;
                    &::before {
                        content: "";
                        display: inline-block;
                        width: 100%;
                        height: 2rem;
                        background: rgba(v.$main_col, 0.1);
                        position: absolute;
                        bottom: 0rem;
                        left: 0;
                    }
                    @include v.mq(ml) {
                        display: inline-block;
                        width: 2rem;
                        height: auto;
                        writing-mode: vertical-rl;
                        position: relative;
                        top: 4rem;
                        &::before {
                            content: "";
                            display: inline-block;
                            width: 2rem;
                            height: 285px;
                            background: rgba(v.$main_col, 0.1);
                            position: absolute;
                            bottom: -7.5rem;
                            left: 0.3rem;
                        }
                    }
                }
                dl {
                    @include v.mq(ml) {
                        padding-left: 1rem;
                    }
                    dt {
                        display: inline-block;
                        height: 1.75rem;
                        position: relative;
                        color: rgba(v.$main_col, 0.75);
                    }
                    dd {
                        position: relative;
                        top: -0.35rem;
                        left: 0;
                        padding-bottom: 0.25rem;
                        @media (min-width: 430px) {
                            top: -1.75rem;
                            left: 7rem;
                        }
                        span {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    .l-contents_container_skill_icon {
        margin: 3rem 0 0 0;
        //margin: 3rem 5dvw 0 5dvw;
        @include v.mq(trigger_ss) {
            //margin: 3rem 8dvw 0 8dvw;
        }
        @include v.mq(ml) {
            margin: 0 0 0 2rem;
        }
    }
    .skill_icon {
        display: flex;
        align-items: flex-start;
        &_container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        p {
            display: inline-block;
            padding: 0.5rem 0.75rem 0 0;
        }
        &_svg {
            width: 2rem;
            height: 2rem;
        }
    }
}

.c-button-readmore {
    //囲みボタン
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0 100px 0;
    @include v.mq(m) {
        margin: 5rem 0 100px 0;
    }
    .works-details-button {
        width: 90%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include v.mq(m) {
            width: 95%;
        }
        a {
            color: v.$main_col;
            text-align: center;
            font-size: 22px;
            font-weight: 200;
            letter-spacing: 2.4px;
            @include v.mq(trigger_ss) {
                font-size: 16px;
                //font-size: 18px;
            }
            @include v.mq(m) {
                font-size: 20px;
            }
            @include v.mq(ml) {
                font-size: 22px;
            }
            &:hover {
                color: v.$accent_col;
                transition: 0.2s;
            }
        }
        &_prev {
            display: inline-block;
            span {
                &:hover {
                    color: v.$main_col;
                    animation: prev 1s linear;
                }
                &::before {
                    content: "";
                    width: 1rem;
                    height: 1rem;
                    background: transparent;
                    border-bottom: 1.5px solid v.$main_col;
                    border-left: 1.5px solid v.$main_col;
                    // border-bottom: 1.5px solid rgba(v.$main_col, 0.4);
                    // border-left: 1.5px solid rgba(v.$main_col, 0.4);
                    transform: rotate(45deg);
                    position: absolute;
                    left: 0;
                    top: 0.5rem;
                    @include v.mq(m) {
                        width: 0.85rem;
                        height: 0.85rem;
                    }
                    &:hover {
                        animation: prev 1s linear;
                        border-bottom: 1.5px solid v.$accent_col;
                        border-left: 1.5px solid v.$accent_col;
                    }
                }
            }
            &:hover {
                animation: prev-next 1s linear;
            }
        }
        &_next {
            display: inline-block;
            span {
                &:hover {
                    color: v.$main_col;
                    animation: next 1s linear;
                }
                &::after {
                    content: "";
                    width: 1rem;
                    height: 1rem;
                    background: transparent;
                    // border-top: 1.5px solid v.$main_col;
                    // border-right: 1.5px solid v.$main_col;
                    border-top: 1.5px solid v.$main_col;
                    border-right: 1.5px solid v.$main_col;
                    transform: rotate(45deg);
                    position: absolute;
                    right: 0;
                    top: 0.35rem;
                    @include v.mq(m) {
                        width: 0.85rem;
                        height: 0.85rem;
                    }
                    &:hover {
                        animation: next 1s linear;
                        border-top: 1.5px solid v.$accent_col;
                        border-right: 1.5px solid v.$accent_col;
                    }
                }
            }
            &:hover {
                animation: prev-next 1s linear;
            }
        }
    }
    .readmore_txt {
        a {
            color: v.$hover_before;
            text-align: center;
            font-size: 22px;
            font-weight: 200;
            letter-spacing: 2.4px;
            @include v.mq(trigger_ss) {
                font-size: 16px;
                //font-size: 18px;
            }
            @include v.mq(m) {
                font-size: 20px;
            }
            @include v.mq(ml) {
                font-size: 22px;
            }
            &:hover {
                color: v.$accent_col;
                transition: 0.2s;
            }
        }
    }
    &:hover::before {
        border-bottom: 2px solid v.$accent_col;
        //background: rgba(v.$accent_col, 0.15);
        transition: 0.1s;
    }
}

.c-tab {
    padding: 2rem 1rem 1rem 1rem;

    @include v.mq(m) {
        padding: 2.5rem 2rem 1rem 2rem;
    }
    &_list {
        display: flex;
        height: 3rem;
        gap: 6px;
        overflow: scroll;
        -ms-overflow-style: none;
        /*スクロールバー非表示（Firefox）*/
        scrollbar-width: none;
        /*↑スクロールバー非表示（Firefox）↑*/
        /*スクロールバー非表示（Chrome・Safari）*/
        &::-webkit-scrollbar {
            display: none;
        }
        /*↑スクロールバー非表示（Chrome・Safari）↑*/

        @include v.mq(m) {
            display: flex;
        }
        li {
            flex: 1 1 0;
            .c-tab_item {
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: flex-end;
                text-align: center;
                position: relative;
                color: v.$hover_before;
                padding: 0.5rem;
                //padding-bottom: 0.5rem;
                font-size: 1rem;
                @include v.mq(m) {
                    font-size: 1.25rem;
                    padding-bottom: 0.75rem;
                }

                &:hover {
                    color: v.$main_col;
                }
                &::before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: rgba(v.$main_col, 0.7);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition: 0.3s;
                    transform: scaleX(0);
                }
                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: rgba(v.$main_col, 0.2);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition: 0.3s;
                }
                &:hover::before {
                    transform: scaleX(1);
                }
                &:hover::after {
                    display: none;
                }
                &.js-active {
                    color: v.$main_col;
                    &::before {
                        background: rgba(v.$main_col, 0.5);
                        transform: scaleX(1);
                    }
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    &_contents {
        .c-tabpanel {
            display: none;
            padding: 1.75rem 1rem 0rem;
            position: relative;

            &_lower {
                @extend .c-tabpanel;
                padding: 1rem;
            }

            &.js-active {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                gap: 2rem;
                &_lower {
                    display: block;
                }
            }
            .works_photo_container {
                cursor: pointer;
                //background: rgba(v.$wh, 0.75);
                margin-bottom: 2rem;
                @include v.mq(m) {
                    //width: 50dvw;
                    height: auto;
                }
            }
        }
    }
}
.c-hd {
    &_type01 {
        font-size: 2rem;
        width: auto;
        height: 3rem;
        font-weight: 300;
        @include v.mq(s) {
            font-size: 3rem;
        }
        &_lower {
            font-size: 1rem;
            padding: 1rem 0 0 12px;
            color: v.$hover_before;
            font-weight: 200;
            &:hover {
                color: v.$main_col;
            }
            @include v.mq(m) {
                font-size: 1.15rem;
            }
        }
    }
    /*&_type01 {
        font-size: 1.5rem;
        border-bottom: 2px solid v.$main_col;
        border-left: .5rem solid v.$main_col;
        font-weight: 600;
        padding: .25rem .5rem;
        
    }*/
}
.c-h2-typo {
    width: 12rem;
    height: auto;
}
.c-li-typo {
    width: 6rem;
    height: auto;
}

.c-project_title {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1rem 0rem 2rem 0rem;
    @include v.mq(m) {
        font-size: 2rem;
    }
}
.c-form {
    border-radius: 0.25rem;
    padding: 1rem 0;
    &_main {
        background: rgba(v.$main_col, 0.2);
    }
    &_wrap {
        &:focus-within {
            background: rgba(v.$main_col, 0.3);
        }
        @include v.mq(s) {
            display: flex;
        }
        dt {
            padding: 0.5rem 1rem 0;
            @include v.mq(s) {
                width: 212px;
                flex-shrink: 0;
            }
            p {
                font-weight: 400;
            }
        }
        dd {
            padding: 0.5rem 1rem;
            @include v.mq(s) {
                flex-grow: 1;
                padding: 0.5rem 1rem 0.5rem 0;
            }
        }
    }
    &_text,
    &_email,
    &_textarea {
        border: none;
        background: v.$wh;
        padding: 0.5rem;
        border-radius: 0.25rem;
        width: 100%;
        box-shadow: 1px 1px 4px rgba(v.$bk, 0.3) inset;
        &:focus {
            outline: 1px solid v.$main_col;
        }
    }
    &_textarea {
        resize: vertical;
        min-height: 10em;
    }
}

.c-required {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    &::after {
        content: "必須項目";
        background: v.$attention;
        color: v.$wh;
        border-radius: 0.25rem;
        font-size: 0.5rem;
        font-weight: 400;
        padding: 0.125rem 0.25rem;
        line-height: 1;
    }
}

.c-btn {
    border-radius: 9999px;
    padding: 0.25rem 3rem;
    margin: 2rem auto 1rem;
    display: block;
    box-shadow: 2px 2px 4px rgba(v.$bk, 0.3);
    &_submit {
        @extend .c-btn;
        background: v.$main_col;
        color: v.$wh;
        &:hover {
            background: darken(v.$main_col, 20%);
        }
    }
}

.c-url {
    text-decoration: none;
    span {
        font-size: 0.9rem;
        font-weight: 600;
        color: v.$url_col;
        text-decoration: underline;

        &:hover {
            color: v.$accent_col;
        }
    }
}

.c-contact_container {
    width: 2rem;
    height: 6.5rem;
    position: fixed;
    bottom: 3rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    /*このクラスが付与されると表示する*/
    .active {
        opacity: 1;
        visibility: visible;
    }
    &:hover {
        transition: 0.3s ease-out;
        color: v.$accent_col;
    }
    @include v.mq(m) {
        right: 3rem;
    }
    .c-contact {
        width: 2rem;
        height: 2rem;
        span {
            height: 75%;
            @include v.center;
            color: v.$main_col;
            font-size: 0.85rem;
            position: relative;
            top: 0.5rem;
            right: -1rem;
        }
        img {
            width: 100%;
            height: 100%;
            position: relative;
        }
    }
    .c-return_top {
        width: 3.5rem;
        height: 3.5rem;
        animation: scroll_top 3s 0.35s both infinite;
        display: block;
        text-align: center;
        background: url(../img/top-return-main.svg) no-repeat center/contain;
        position: relative;
        &:hover {
            background: url(../img/top-return-accent.svg) no-repeat center/contain;
            transition: 0.3s ease-out;
            color: v.$accent_col;
        }
        span {
            height: 75%;
            @include v.center;
            color: v.$main_col;
            font-size: 0.85rem;
            position: absolute;
            left: 1.75rem;
            top: 5.25rem;
            &:hover {
                transition: 0.3s ease-out;
            }
        }
        /*&::before {
        content: "";
        border-right: 1px solid v.$main_col;
        position: absolute;
        top: 0;
        right: 0rem;
        width: 1.05rem;
        height: 1.05rem;
        //transform: rotate(45deg);
        transform-origin: top right;
        animation: scroll_rotate 3s 1.5s both infinite;
    }*/
        &::after {
            border-bottom: 1px solid v.$main_col;
            position: absolute;
            top: 0;
            right: 0rem;
            width: 1.05rem;
            height: 1.05rem;
            transform: rotate(45deg);
            transform-origin: top right;
            animation: fade_infinite 3s 1.5s both infinite;
        }
    }
}

.c-slider-container {
    width: 100vw;
    height: 3rem;
    p {
        width: 3000px;
        height: 3rem;
        display: block;
        position: relative;
        left: 0;
        top: 0;
        background: url(../img/logo-wh.svg) left center repeat-x;
        animation: slider 20s linear infinite;
    }
}

.active {
    opacity: 1;
    visibility: visible;
}
.active2 {
    opacity: 0;
    visibility: hidden;
}

//横スクロールでdivクラス属性の要素を表示する
.c-photo {
    width: 100vw;
    height: 50vh;
    aspect-ratio: 4 / 3;
    img {
        width: 100%;
        height: 100%;
    }
}

/*==================================================
ギャラリーのためのcss
===================================*/
.c-galley {
    dl dt {
        font-size: 1rem;
        padding: 1rem 0rem 0.5rem 1rem;
    }
    .snap-h3 {
        padding: 3rem 0rem 0.5rem 1rem;
    }

    .gallery {
        columns: 1; /*段組みの数*/
        padding: 0 15px; /*ギャラリー左右に余白をつける*/
        @include v.mq(m) {
            columns: 2; /*段組みの数*/
        }
        &-top {
            @extend .gallery;
            columns: 2; /*段組みの数*/
        }
    }

    .gallery li {
        margin-bottom: 20px; /*各画像下に余白をつける*/
        list-style: none;
    }

    /*ギャラリー内のイメージは横幅100%にする*/
    .gallery img {
        width: 100%;
        height: auto;
        vertical-align: bottom; /*画像の下にできる余白を削除*/
    }

    /*　横幅900px以下の段組み設定　*/
    // @media only screen and (max-width: 900px) {
    //     .gallery {
    //         columns: 3;
    //     }
    // }

    // @media only screen and (max-width: 768px) {
    //     .gallery {
    //         columns: 1;
    //     }
    // }
}
//footer↓ contact内の宛先ボタン
.c-footer {
    &_top {
        background: var(--nav-color, linear-gradient(5deg, #e1e1de 0%, #f0f0ee 58.18%, #f0f0ee 98.42%));
        width: 100dvw;
        height: 400px;
        position: relative;
        //margin: 100px 0 0 0;
        // @include v.mq(ml) {
        //     margin: 160px 0 0 0;
        // }
    }
    &_contact {
        background: var(--nav-color, linear-gradient(5deg, #e1e1de 0%, #f0f0ee 58.18%, #f0f0ee 98.42%));
        width: 100dvw;
        height: 80px;
        position: absolute;
        bottom: 0;
        margin: 100px 0 0 0;
        @include v.mq(ml) {
            margin: 300px 0 0 0;
        }
    }

    /*.c-footer-container {
        margin: 0.5rem 0 0.15rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        bottom: 1rem;
        transform: translate(-50%, -50%);
    }*/
}
.l-footer_container,
.l-contact-adress {
    display: block;
    @include v.mq(ss) {
        //margin: 0 12rem;
    }
    .l-footer_container_inner {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        @include v.mq(m) {
            margin-bottom: 2rem;
        }
        h2 {
            text-align: center;
        }
        .l-footer_nav_container {
            position: relative;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;
            @include v.mq(m) {
                gap: 2rem;
                justify-content: flex-start;
                flex-direction: row;
                align-items: center;
            }
            .l-footer_nav_container_inner {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 1.25rem;
                @include v.mq(m) {
                    padding-bottom: 0;
                }

                .l-footer_nav_icon {
                    padding-right: 0.5rem;
                    width: 2rem;
                    height: auto;
                }
                a {
                    font-size: 20px;
                    @include v.mq(m) {
                        padding-right: 2rem;
                    }
                    text-decoration: none;
                    transition: 0.5s;
                    &:hover {
                        color: v.$accent_col;
                    }
                }
            }
        }
    }
    .l-contact-adress_container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        @include v.mq(m) {
            margin-bottom: 2rem;
        }
        h2 {
            text-align: center;
        }
        .l-contact-adress_container_inner {
            position: relative;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 2rem;
            @include v.mq(m) {
                gap: 4rem;
                justify-content: flex-start;
                flex-direction: row;
                align-items: center;
            }
            .l-contact-adress_button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1.25rem 0.85rem 1rem 0.85rem;

                border-bottom: 1px v.$hover_before solid;
                //transition: border-bottom 0.3s ease-out;
                position: relative;
                @include v.mq(m) {
                    padding: 2rem 2rem 1.25rem 2rem;
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background-color: v.$main_col; /* 線の色 */
                    opacity: 0;
                }
                &:hover::before {
                    /* アニメーション設定 */
                    transition: opacity 0.75s ease-in-out;
                    opacity: 1;
                }
                &:hover {
                    background: rgba(v.$main_col, 0.1);
                    transition: background 0.75s ease-in-out;
                }

                @include v.mq(ml) {
                    padding: 1.5rem 2rem;
                }

                .l-contact_icon {
                    padding-right: 0.5rem;
                    width: 2rem;
                    height: auto;
                }
                a {
                    font-size: 20px;
                    @include v.mq(m) {
                        padding-right: 2rem;
                    }
                    text-decoration: none;
                    // &:hover {
                    //     animation: under_line 0.5s ease-out forwards;
                    // }
                }
            }
        }
    }
}

//footer↑ contact内の宛先ボタン

.c-copy {
    width: 100%;
    color: rgba(v.$main_col, 0.5);
    text-align: center;
    position: absolute;
    bottom: 1rem;
    margin: 0 auto;
}
