@use "../00_global" as v;

.l-m001 {
    margin: 0 0 1rem !important;
}

.l-m002 {
    margin: 0 0 2rem !important;
}

.l-m003 {
    margin: 0 0 3rem !important;
}

.l-m2060 {
    margin: 2rem 0 6rem 0 !important;
}
.l-m236 {
    @include v.mq(m) {
        margin: 2rem 4rem 6rem !important;
    }
}
.l-m020 {
    @include v.mq(m) {
        margin: 0rem 2rem 0rem !important;
    }
}
.l-m120 {
    @include v.mq(m) {
        margin: 1rem 2rem 0rem !important;
    }
}

.l-m0-12-3 {
    margin: 0 12rem 3rem !important;
}
.l-m100 {
    margin: 1rem 0 0 !important;
}
.l-m200 {
    margin: 2rem 0 0 !important;
}

.l-m107 {
    margin: 1rem 0 7rem !important;
}
.l-m404 {
    margin: 4rem 0 4rem !important;
}

.l-m007 {
    margin: 0rem 0 7rem !important;
}

.l-m400 {
    margin: 4rem 0 0 !important;
}

.l-m02 {
    margin: 0 2rem !important;
}
.l-m45-0-1 {
    margin: 4.5rem 0 1rem !important;
}
.l-m25-0-1 {
    margin: 4.5rem 0 1rem !important;
}
.l-m03 {
    margin: 0 3rem !important;
}

.l-m05 {
    margin: 0 5rem !important;
}

.l-m15202 {
    //h2_works //h2_profile
    margin: 1.5rem 2rem 0rem 2rem !important;
}
.l-m3202 {
    //h2_works //h2_profile
    margin: 3rem 2rem 0rem 2rem !important;
}
.l-m5204 {
    //h2_profileもう使っていない
    margin: 5rem 2rem 0rem 4rem !important;
}

.l-m12-52 {
    margin: 1rem 2rem 0.5rem 2rem !important;
}
.l-m10-0 {
    //container間
    margin: 10rem 0 !important;
}
.l-m10-1 {
    //container間
    padding: 10rem 1rem !important;
}
.l-m6-1-0 {
    //fv-designtheme間
    padding: 6rem 1rem 0 !important;
}

.l-m200px-0 {
    //container間
    margin: 200px 0 !important;
}
.l-m300px-0 {
    margin: 300px 0 !important;
}

.l-m72px-0 {
    //works detail写真
    margin: 72px 0 !important;
}
.l-m72px-top {
    margin-top: 72px !important;
}

.l-m60px-0 {
    //header section 間
    margin: 60px 0 !important;
}
.l-m60-0 {
    //readmore button間
    margin-top: 60px !important;
}
.l-m40px-0 {
    //readmore button間
    margin-top: 40px !important;
}
.l-m24px-0 {
    //works detail写真
    margin: 24px 0 !important;
}
.l-m12px-0 {
    //works detail写真
    margin: 12px 0 !important;
}
.l-m200-0-100-0 {
    //readmore button間 works_details
    margin: 200px 0 100px 0 !important;
}
.l-m100top {
    //readmore button間 profile
    margin-top: 100px !important;
}
.l-m32-0 {
    //readmore button間
    margin-top: 2rem !important;
}
.l-m48-32 {
    //readmore button間
    margin: 5rem 0 2rem 0 !important;
}

.l-m60-00 {
    //readmore button間
    margin-top: 60px 0 0 !important;
}

.l-m60 {
    margin: 6rem 0 !important;
}

.l-m0-5 {
    margin: 0.5rem !important;
}

.l-m025 {
    margin: 0.25rem !important;
}
.l-m45030 {
    margin: 4.5rem 0 3rem 0 !important;
}

.l-m10dvh {
    margin-top: 5dvh;
}
