@use "../00_global" as v;
// display paddingについてのクラスを記述する
// レイアウトというより各パーツの微調整に使ったりする

.u-flex {
    display: flex !important;
}
.u-flex-center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.u-flex-between {
    display: flex !important;
    justify-content: space-between !important;
}

.u-p001 {
    padding: 0 0 1rem !important;
}

.u-p003 {
    padding: 0 0 3rem !important;
}

.u-p35 {
    padding: 3rem 5rem !important;
}

.u-txtlp48 {
    letter-spacing: 4.8px;
}

.u-txtlp24 {
    letter-spacing: 2.4px;
}
.u-txtlp12 {
    letter-spacing: 1.2px;
}

.u-txtalignjust {
    //本文のテキストボックスに対するレイアウト変数
    text-align: justify;
}

.pointer {
    cursor: pointer;
    &:hover {
        color: v.$accent_col;
        transition: 0.25s ease-out;
    }
}
.default {
    cursor: default;
}

.fw200 {
    font-weight: 200;
}
